{% extends 'base.html.twig'%}

{% block title 'Add a new Comment' %}

{% block body %}
    <div class="container">
        <div class="col-md-6 mt-5">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}