{% extends 'base.html.twig'%}

{% block body %}
    <div>
        <ol>
            {% for comment in comments %}
                <li>
                    <p>"{{ comment.comment }}" - {{ comment.username}} (for : {{ comment.product.name }})</p>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}